.vscode/
codealike.json
output_tweets.json
*.pyc
tmp/
whole_tweet_embeddings.json
*.tar.bz2
*.zip
*.csv
*.tsv
data/avg_tweet_embeddings.json
data/avg_tweet_embeddings_with_emojis.json
data/whole_tweet_embeddings_with_emojis.json