[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[dev-packages]
bandit = "*"

[packages]
googletrans = "*"
google-cloud-translate = "*"
spacy = "==2.1.8"
progress = "*"
tensorflow = "==1.15.0"
bert-serving-client = "*"
bert-serving-server = "*"
emoji = "*"
sklearn = "*"
alive-progress = "*"
spacy-lookup = "*"
