[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
hyper = "*"
google-cloud-translate = "*"
google = "*"
google-cloud = "*"
gcloud = "*"
google-cloud-container = "*"
googletrans = "*"
spacy = "*"

[requires]
python_version = "3.7"
